@import url(reset.css);
@import url(fonts.css);
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Manrope';
}

body{
    background-color: #09090B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 24px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    padding: 12px;
}

main{
    display: flex;
    flex-direction: column;
    width: 1440px;
    gap: 24px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #27272A;
    padding: 48px;
    border-radius: 24px;
    width: 1440px;
    li{
        font-size: 16px;
        padding-bottom: 10px;
    }
}

a, p, h2, h1, li{
    color: #FAFAFA;
}

.NavItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.NavButtom{
    display: flex;
    background-color: #0077FF;
    border-radius: 14px;
    width: fit-content;
    padding: 14px 32px;
}

.M_OfferTitle{
    display: flex;
    flex-direction: column;
    background-color: #18181B;
    width: 1440px;
    padding: 24px;
    border-radius: 24px;
    gap: 56px;
    h2{
        font-size: 60px;
        font-weight: 700;
    }
}

.M_OfferTitleTop{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.M_OfferTitlebottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.OfferButtom{
    display: flex;
    font-size: 24px;
    background-color: #0077FF;
    border-radius: 14px;
    width: fit-content;
    padding: 14px 32px;
}

.MainContent{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.M_CompanyPreview{
    width: 464px;
    display: flex;
    flex-direction: column;
    background-color: #18181B;
    padding: 24px;
    border-radius: 24px;
    gap: 18px;
    h2{
    font-weight: 600px;
    font-size: 24px;
    }
}

.CompanyPreviewButtom{
    display: flex;
    font-size: 18px;
    background-color: #0077FF;
    border-radius: 14px;
    justify-content: center;
    padding: 14px 32px;
}

.CompanyPreviewButtomGray{
    display: flex;
    font-size: 18px;
    background-color: #3F3F46;
    border: #27272A solid 1px;
    border-radius: 14px;
    justify-content: center;
    padding: 14px 32px;
}

.VKlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.VKText{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.W_OfferDescription{
    background-color: #18181B;
    border-radius: 24px;
    padding: 24px;
    gap: 12px;
    h2{
        font-size: 20px;
        font-weight: 600px;
        padding-bottom: 25px;
    }
    ul{
        list-style-type: disc; padding-left: 24px;
    }
    li{
        padding-bottom: 20px; font-size: 18px;
    }
}

.FooterButtom{
    color: #09090B;
    display: flex;
    font-size: 16px;
    background-color: #FAFAFA;
    border-radius: 14px;
    width: fit-content;
    padding: 12px 24px; 
}

.LeftFooter{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.Burgir{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18181B;
    border-radius: 14px;
    padding: 13px 15px;
    gap: 4px;
    width: 44px;
    height: 44px;
}

.BurgirWhite{
    display: flex;
    width: 18px;
    height: 2px;
    background-color: #FAFAFA;
}

.DisplayOnly{
    display: inherit;
}

.MobileOnly{
    display: none;
} 

@media (max-width: 1024px){
.DisplayOnly{
    display: none;
}

.MobileOnly{
    display: inherit;
} 

nav{
    width: 100%;
}
main{
    width: 100%;
}
footer{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.M_OfferTitle{
    width: 100%;
}

.M_OfferTitleTop{
    h2{
        font-size: 24px;
    }
}

.M_OfferTitlebottom{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.MainContent{
    flex-direction: column;
}

.M_CompanyPreview{
    width: 100%;
}

.OfferButtom{
    font-size: 16px;
}

.LeftFooter{
    flex-direction: column;
    align-items: flex-start;
}

}

